.row > * {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
.m-4 {
  margin: 0;
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 15.33333333%;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
