/* Search.css */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.input-group {
  width: 700px;
  margin-right: 30%;
}

.form-control {
  border-radius: 30px;
}

@media (max-width: 768px) {
  .custom-search {
    margin-bottom: 10px;
  }
}
