/* Search.css */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.input-group {
    max-width: 700px; /* Set a maximum width for the search bar */
}

.form-control {
    border-radius: 30px; /* Adjust the value for the desired level of rounding */
}

@media (max-width: 768px) {
    .custom-search {
        margin-bottom: 10px; /* Add some spacing at the bottom for smaller screens */
    }
}
